{
    "openapi": "3.0.0",
    "info": {
        "title": "Tokenized Stocks API",
        "description": "Read the Coinbase-issued tokenized-stock records currently exposed through the API, protocol contract addresses, and normalized token supplies on Base. No API key is required.",
        "version": "1.0.0"
    },
    "tags": [
        {
            "name": "Tokenized Stocks",
            "description": "Public, read-only data for Coinbase-issued tokenized stocks on Base."
        }
    ],
    "paths": {
        "/v1/tokenized-stocks": {
            "get": {
                "summary": "List tokenized stocks",
                "operationId": "listTokenizedStocks",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/v1ListTokenizedEquityTokensResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rpcStatus"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Tokenized Stocks"
                ],
                "description": "Returns the Coinbase-issued tokenized-stock records currently exposed through the API. Presence in this list does not imply trading availability or eligibility."
            }
        },
        "/v1/tokenized-stocks/chains": {
            "get": {
                "summary": "List protocol contract addresses",
                "operationId": "listChainContractAddresses",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/v1ListChainContractAddressesResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rpcStatus"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Tokenized Stocks"
                ],
                "description": "Returns the tokenized-stocks protocol contracts deployed on each supported chain."
            }
        },
        "/v1/tokenized-stocks/total-supply/{contract_address}": {
            "get": {
                "summary": "Get token total supply",
                "operationId": "getTokenTotalSupply",
                "responses": {
                    "200": {
                        "description": "The token's total supply, normalized by the token's decimals. This is a token-unit amount, not the number of underlying shares; multiply by `multiplier` to convert to shares.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "number",
                                    "format": "double"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An unexpected error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rpcStatus"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "contract_address",
                        "description": "The address of the ERC-20 token contract on Base.",
                        "in": "path",
                        "required": true,
                        "example": "0xb200000000000000000000C2e324d24d7eEcd1fb",
                        "schema": {
                            "type": "string",
                            "pattern": "^0x[a-fA-F0-9]{40}$"
                        }
                    }
                ],
                "tags": [
                    "Tokenized Stocks"
                ],
                "description": "Returns the token's ERC-20 total supply, normalized by the token's decimals. This is a token-unit amount, not the number of underlying shares."
            }
        }
    },
    "externalDocs": {
        "description": "Tokenized Stocks on Base",
        "url": "https://docs.base.org/build-on-base/integrate-defi/list-tokenized-stocks"
    },
    "servers": [
        {
            "url": "https://api.coinbase.com"
        }
    ],
    "components": {
        "schemas": {
            "protobufAny": {
                "type": "object",
                "properties": {
                    "@type": {
                        "type": "string"
                    }
                },
                "additionalProperties": {}
            },
            "rpcStatus": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/protobufAny"
                        }
                    }
                }
            },
            "v1ChainContractAddresses": {
                "type": "object",
                "properties": {
                    "chain_id": {
                        "type": "string",
                        "format": "uint64",
                        "description": "The chain's numeric EVM chain ID."
                    },
                    "chain": {
                        "type": "string",
                        "description": "The chain's human-readable name."
                    },
                    "policy_registry_address": {
                        "type": "string",
                        "description": "The address of the PolicyRegistry contract or precompile."
                    },
                    "token_supply_manager_address": {
                        "type": "string",
                        "description": "The address of the TokenSupplyManager contract."
                    },
                    "token_factory_address": {
                        "type": "string",
                        "description": "The address of the TokenFactory contract."
                    }
                },
                "description": "A supported chain and its tokenized-equities protocol contracts."
            },
            "v1GetTokenTotalSupplyResponse": {
                "type": "object",
                "properties": {
                    "total_supply": {
                        "type": "number",
                        "format": "double",
                        "description": "The token's total supply, normalized by the token's decimals. This is a token-unit amount, not the number of underlying shares; multiply by `multiplier` to convert to shares."
                    }
                },
                "description": "Response message for `TokenizedEquitiesPublicApiService.GetTokenTotalSupply`."
            },
            "v1ListChainContractAddressesResponse": {
                "type": "object",
                "properties": {
                    "chains": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/v1ChainContractAddresses"
                        },
                        "description": "The tokenized-equities protocol contract addresses for each supported chain."
                    }
                },
                "description": "Response message for `TokenizedEquitiesPublicApiService.ListChainContractAddresses`."
            },
            "v1ListTokenizedEquityTokensResponse": {
                "type": "object",
                "properties": {
                    "tokens": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/v1TokenizedEquityToken"
                        },
                        "description": "The tokenized-stock records currently exposed through the API."
                    }
                },
                "description": "Response message for `TokenizedEquitiesPublicApiService.ListTokenizedEquityTokens`."
            },
            "v1TokenizedEquityToken": {
                "type": "object",
                "properties": {
                    "contract_address": {
                        "type": "string",
                        "description": "The address of the ERC-20 token contract on Base."
                    },
                    "symbol": {
                        "type": "string",
                        "description": "The token's ticker symbol."
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the underlying equity."
                    },
                    "decimals": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The number of decimals used by the token."
                    },
                    "icon_url": {
                        "type": "string",
                        "description": "URL of an icon representing the underlying equity."
                    },
                    "total_supply": {
                        "type": "number",
                        "format": "double",
                        "description": "The token's total supply, normalized by the token's decimals. This is a token-unit amount, not the number of underlying shares; multiply by `multiplier` to convert to shares."
                    },
                    "isin": {
                        "type": "string",
                        "description": "The ISIN of the underlying equity."
                    },
                    "multiplier": {
                        "type": "number",
                        "format": "double",
                        "description": "The token's current scaling factor between token units and underlying shares, adjusted for its 18-decimal fixed-point scale (1.0 means no adjustment). It can change for corporate actions such as dividends or stock splits."
                    },
                    "paused_features": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "description": "Feature flags currently paused on the token contract."
                    },
                    "nav_price": {
                        "type": "number",
                        "format": "double",
                        "description": "The most recently published Chainlink-based NAV/reference value for the token, read from its Chainlink price feed on Base and adjusted for the feed's decimals. This is a total-return reference value, not a live bid/ask or execution price. Check `nav_price_updated_at` and apply staleness bounds before relying on it."
                    },
                    "nav_price_updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The time at which `nav_price` was last updated onchain, per the Chainlink feed's `latestRoundData()` `updatedAt`. Chainlink only publishes a new round when the price moves past a deviation threshold or the heartbeat elapses, and feeds stop updating outside market hours, so this can lag wall-clock time by minutes to many hours. Apply staleness bounds before relying on `nav_price`."
                    }
                },
                "description": "A tokenized equity token available on Base."
            }
        }
    }
}
